
@{

    Layout = null;
    AjaxOptions ajaxCategoryOptions = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetCategoriesData", "Category"),
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ajaxCategorySuccess"
    };

    AjaxOptions ajaxPostOptions = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetPostsData", "Post"),
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ajaxPostSuccess",
        //OnComplete = "postComplete"
    };
    }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/ErrorStyles.css" rel="stylesheet" />*@
    <meta name="robots" content="noindex, nofollow">
    @Scripts.Render("~/bundles/jq")
    @Scripts.Render("~/Scripts/Assets/loaderManager.js")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundle/font-awesome")
    @Styles.Render("~/bundle/froalaEditorCSS")
    <!-- Include external CSS. -->
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">*@

    <!-- Include Editor style. -->
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Content/Assets/simple-sidebar.css" rel="stylesheet" />
    <title></title>

</head>
<body>
    <div id="pageLoader">
        <div class="loadmeRect">
            <div class="loadmeRectChild loadmeRect1"></div>
            <div class="loadmeRectChild loadmeRect2"></div>
            <div class="loadmeRectChild loadmeRect3"></div>
            <div class="loadmeRectChild loadmeRect4"></div>
            <div class="loadmeRectChild loadmeRect5"></div>
        </div>
        <div class="loadme-mask"></div>
    </div>



    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </div>


    <!-- Sidebar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">TheBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills ml-auto">
                <li class="nav-item">@Html.ActionLink("Posts", "Posts", null, new { @class = "nav-link active" })</li>
                <li class="nav-item">@Html.Partial("_SearchPartial")</li>
                <li class="nav-item"></li>
                <li class="nav-item"><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a></li>


            </ul>

        </div>
    </nav>

    <div id="wrapper" class="toggled">



        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">

                </li>
                <li>
                    @Ajax.ActionLink("PostsAjax", "Index", "Admin", new {}, ajaxPostOptions)

                </li>
                <li>
                    @Ajax.ActionLink("CategoriesAjax", "Index", "Admin", new {}, ajaxCategoryOptions)
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    <!-- Include external JS libs. -->
    @*@Styles.Render(Url.Content("~/Content/Assets/simple-sidebar.css"));*@
    @Scripts.Render("~/bundles/clientfeaturesscripts")
    @Scripts.Render("~/bundles/bootstrapJS")
    <!-- Include Editor JS files. -->

    <script src="~/Scripts/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image.min.js"></script>

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js"></script>*@

    @RenderSection("Scripts", false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function processData(data) {
            var target = $("#tableBody");
            target.empty();
            for (var i = 0; i < data.length; i++) {
                var person = data[i];
                target.append("<tr><td>" + person.FirstName + "</td><td>"
                    + person.LastName + "</td><td>" + person.Role + "</td></tr>");
            }
        }

        function ajaxCategorySuccess(text) {
            var targer = $("#tittle");
            targer.empty().append("Категории");
            hideLoader();

        }

        function ajaxPostSuccess(text) {
            var targer = $("#tittle");
            targer.empty().append("Посты");
            hideLoader();

        }

        //function postComplete() {
        //    if (!$('#froala-editor').data('froala.editor')) {
        //        $('#froala-editor').froalaEditor();
        //    }
        //}
    </script>
</body>
</html>



