@using X.PagedList
@using X.PagedList.Mvc
@using JustBlog.Core.Objects


@model IEnumerable<Post>

@{
    ViewBag.Title = "Posts";
    int current = 0;

    HtmlString SeparateTags(int curr, int count)
    {
        if (curr < count)
        {
            return MvcHtmlString.Create(",");
        }
        current = 0;
        return MvcHtmlString.Create("");
    }

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        //Confirm = "return confirmDelete()",
        UpdateTargetId = "tableBody",
        OnBegin = "openDialog",
        InsertionMode = InsertionMode.InsertAfter,
        Url = Url.Action("DeletePost", "Post"),
        HttpMethod = "Post",
        OnSuccess = "processView"

    };
}


<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="text-right"></th>
        <th>Заголовок</th>
        <th class="text-right">Категория</th>
        <th class="text-left">Теги</th>
        <th class="text-center">Действие</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.Id</td>
            @*<td>@Html.ActionLink(item.Title, "EditPost", "Admin", new { id = item.Id })</td>*@
            @*<td>@Html.RouteLink(item.Title, "Admin", new { action = "EditPost", id = item.Id }, null)</td>*@
            <td>
                @Ajax.ActionLink(item.Title, "Admin", new AjaxOptions
                {
                    Url = Url.RouteUrl(new { controller = "Post", action = "EditPost", id = item.Id }),
                    HttpMethod = "GET",
                    OnBegin = "IsLoading",
                    OnSuccess = "SetContent",
                    OnFailure = "AlertUser"
                })
            </td>
            <td class="text-right">@item.Category.Name</td>
            <td class="text-left">
                @foreach (var tag in item.Tags)
                {
                    <span>@tag.Name@SeparateTags(++current, item.Tags.Count())</span>

                }
            </td>
            <td class="text-center">
                @using (Ajax.BeginForm(ajaxOptions))
                {
                    @Html.Hidden("id", item.Id)
                    <input type="submit"
                           class="btn btn-outline-secondary btn-xs"
                           value="Delete" />
                }
            </td>
        </tr>
    }
</table>

<div class="panel panel-default">
    <div class="card-footer">
        @*@Html.ActionLink("Add a new post", "CreatePost", "Admin",
        new { @class = "btn btn-default" })*@
        @Ajax.ActionLink("Добавить пост", "Admin",
                    null,
                    new AjaxOptions
                    {
                        Url = Url.RouteUrl(new { action = "EditPost", id = 0 }),
                        HttpMethod = "GET",
                        OnBegin = "IsLoading",
                        OnSuccess = "SetContent",
                        OnFailure = "AlertUser"
                    },
                    new { @class = "btn btn-default" }
                )
        <div class="pagination text-center">
        </div>
    </div>
</div>

@*Указать путь к файлу со скриптами
    @Scripts.Render();*@
<script>

    function openDialog() {
        var conf = confirm("Вы уверены, что хотитие удалить объект?");
        if (conf == true) {
            return true;
        }
        return false;
    };

    function processView() {
        hideLoader();
        $("#table-striped").first().remove();
        //prv.remove();
    }

    var clickedCounter;
    $(function () {
        //TODO: отменяет повторный вызов AJAX если != 1
        clickedCounter = 0;
    });

    function IsLoading() {
        clickedCounter += 1;
        if (clickedCounter === 1) {
            return true;
        }
        return false;
    }


    function SetContent(data) {
        //обнуляем счетчик кликов
        clickedCounter = 0;

        //очищаем и заполняем modal-content html датой
        var modal = $("#target").empty().html(data);
        $("#editModal").modal({
            backdrop: 'static',
            keyboard: false
        });
        hideLoader();
    }

    function AlertUser(err) {
        alert(err.Message);
        clickedCounter = 0;
    }
</script>



